<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
        <title>
           Monumenti di Milano
        </title>

  
    </head>

    <body>
        <div class = "mainDiv">
            <div id = "div1">
                <h1 id="text1">Piazza della vittoria</h1>
                <img src="{{url_for('static', filename='images/PiazzadellaVittoria.jpg')}}" width="400" height="400">
            </div>

            <div id = "div2">
                <h1 id="text2">Duomo di Milano</h1>
                <img src="{{url_for('static', filename='images/duomo.jpg')}}" width="200" height="200">
            </div>
        </div>
       
       
    </body>
</html>