<!DOCTYPE html>
<html>
    <head>
       <h1>
        La galleria Vittorio Emanuele II è una galleria commerciale di Milano che,<br>
         in forma di strada pedonale coperta, collega piazza Duomo a piazza della Scala. <br>
         Per la presenza di eleganti negozi e locali, fin dalla sua inaugurazione fu sede di <br>
         ritrovo della borghesia milanese tanto da essere soprannominata il "salotto di Milano": costruita <br>
         in stile neorinascimentale, è tra i più celebri esempi di architettura del ferro europea e rappresenta <br>
         l'archetipo della galleria commerciale dell'Ottocento[3]. Chiamata semplicemente "la Galleria" dai milanesi, <br>
         viene spesso considerata come uno dei primi esempi di centro commerciale al mondo[4].<br>
         Il Castello Sforzesco è un grande complesso fortificato situato a Milano poco fuori dal centro storico della città.<br>
        Fu eretto nel XV secolo da Francesco Sforza, divenuto da poco Duca di Milano, sui resti di una precedente fortificazione<br>
         medievale del XIV secolo nota come Castello di Porta Giovia (o Zobia). Nella stessa area in cui sorgeva il Castello di Porta Giovia,<br>
          in epoca romana, sorgeva l'omonimo Castrum Portae Jovis, uno dei quattro castelli difensivi della Milano romana.<br>
        Notevolmente trasformato e modificato nel corso dei secoli, il Castello Sforzesco fu, tra il Cinquecento e il Seicento, una delle <br>
        principali cittadelle militari d'Europa; restaurato in stile storicista da Luca Beltrami tra il 1890 e il 1905, è oggi sede di istituzioni<br>
         culturali e di importanti musei. È uno dei più grandi castelli d'Europa nonché uno dei principali simboli di Milano e della sua storia[3].<br>
       </h1>
    </head>
    <body>

    </body>
</html>