*{

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  border-radius: 50px;
}

.mainDiv{
  width: 100%;
  height: 100%;
}

#div1{
  float:left;
  width: 600px;
  height: 600px;
  text-align: center;
  margin-left: 100px;
}


#text1{
  text-align: center;
}


#div2{
  float:right;
  width: 600px;
  height: 600px;
  text-align: center;
  margin-right: 100px;
}


#text2{
  text-align: center;
}

#div3{
  float:left;
  width: 600px;
  height: 600px;
  text-align: center;
  margin-left: 100px;
}


#text3{
  text-align: center;
}

#div4{
  float:right;
  width: 600px;
  height: 600px;
  text-align: center;
  margin-right: 100px;
}


#text4{
  text-align: center;
}